<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta content="stuff, to, help, search, engines, not" name="keywords">
  <meta content="What this page is about." name="description">
  <meta content="Display Webcam Stream" name="title">
  <title>Display Webcam Stream</title>

  <style>
    #container {
      margin: 0px auto;
      width: 500px;
      height: 375px;
      border: 10px #333 solid;
    }

    #videoElement {
      width: 500px;
      height: 375px;
      background-color: #666;
    }
  </style>
</head>

<body>
  <div id="container">
    <canvas id="canvasOutput"></canvas>
    <video autoplay="true" id="videoElement">

    </video>
  </div>
  <div class = 'video'>
    <img id="image">
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
  <script>
    var socket = io.connect('https://' + document.domain);
    alert('https://' + document.domain)
    // checking for connection
    socket.on('connect', function(){
      console.log("Connected... ", socket.connected)
    });
    const video = document.querySelector("#videoElement");

    if (navigator.mediaDevices.getUserMedia) {
      navigator.mediaDevices.getUserMedia({
          video: true
        })
        .then(function(stream) {
          video.srcObject = stream;
          // myJson = JSON.stringify(stream)
        })
        .catch(function(err0r) {
          console.log("Something went wrong!");
        });
    }

    console.log(video)
    ////
    var videoId = 'videoElement';
    var scaleFactor = 0.25;
    var snapshots = [];
    
    function capture(video, scaleFactor) {
        if(scaleFactor == null){
            scaleFactor = 1;
        }
        var w = video.videoWidth * scaleFactor;
        var h = video.videoHeight * scaleFactor;
        var canvas = document.createElement('canvas');
            canvas.width  = w;
            canvas.height = h;
        var ctx = canvas.getContext('2d');
            ctx.drawImage(video, 0, 0, w, h);
        return canvas;
    } 
    
    function shoot(){
        var video  = document.getElementById(videoId);
        var output = document.getElementById('output');
        var canvas = capture(video, scaleFactor);
            canvas.onclick = function(){
                window.open(this.toDataURL());
            };
        snapshots.unshift(canvas);
        output.innerHTML = '';
        for(var i=0; i<4; i++){
            output.appendChild(snapshots[i]);
        }
    }
    /////
    //let src = new cv.Mat(video.height, video.width, cv.CV_8UC4);
    //let dst = new cv.Mat(video.height, video.width, cv.CV_8UC1);
    //let cap = new cv.VideoCapture(video);

    const FPS = 22;

    setInterval(() => {
        //cap.read(src);

        var type = "image/png"
        //var data = document.getElementById("canvasOutput").toDataURL(type);
        var video_element = document.getElementById("videoElement")
        var frame = capture(video_element, 1)
        var data = frame.toDataURL(type);
      
        data = data.replace('data:' + type + ';base64,', ''); //split off junk at the beginning
        socket.emit('image', data);
    }, 10000/FPS);


    socket.on('response_back', function(image){
        const image_id = document.getElementById('image');
        image_id.src = image;
    });
  </script>
</body>

</html>
